# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
#  - release
  - 0.7
  - 1.0
  - 1.1
  - nightly
## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
before_instal:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo chmod 666 /dev/tty*; fi
matrix:
  allow_failures:
  - julia: nightly
notifications:
  email: false
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("LibSerialPort"); Pkg.test("LibSerialPort"; coverage=true)'
# Documenter auto-deploy                                                                                                                                                                                                                            
# following `using` instruction is for triggering precompilation                                                                                                                                                                                    
